<!DOCTYPE html>
<html>
  <head>
    <title>Bluebird</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>BLUE BIRD</h1>
    <% if flash[:errors] %>
      <ul>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>

    <%= flash[:success] ? flash[:success] : '' %>

    <% if logged_in? %>
      <h2>Welcome, <%= current_user.username %>!</h2>
      <form method="POST" action="<%= session_url %>">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Log Out">
      </form>
    <% else %>
      <a href="<%= new_user_url %>">Sign Up</a> <!-- fetches form from users#new -->
      <a href="<%= new_session_url %>">Log In</a> <!-- fetches form from sessions#new -->
    <% end %>

    <%= yield %>
  </body>
</html>
